node_modules
.DS_Store
lib
dist
uploads
shorts/
plugins/
utils/
doc
*.tsbuildinfo
tauri-app
*.d.*
*.js
*.mjs
!src/utils
!src/tests/utils
!tests/src/tests/utils
!src/plugins
!src/tests/plugins
!tests/src/tests/plugins
!scripts/*
!my-react-app/src/*.js