name: Tests & Build

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
  
jobs:
  check:
    name: Tests & Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x, 20.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install dependencies
        run: pnpm install

      - name: Check type
        run: pnpm checktype

      - name: Run tests
        run: pnpm test

      - name: Build umd
        run: pnpm build:umd

      - name: Run vitest mock tests
        run: pnpm --filter=vitest-mock-example test

      - name: Run vite example build
        run: pnpm --filter=vite-example build

      - name: Run next example build
        run: pnpm --filter=next-example build

      - name: Run webpack react build
        run: pnpm --filter=my-react-app build

      - name: Run vue-cli build check
        run: pnpm --filter=vue-cli-app build

      - uses: oven-sh/setup-bun@v1
      - name: Run bun example
        run: cd bun-example && bun install && bun index.ts && bun build index.ts > /tmp/tmp.js
