name: Tests & Build
on: [push, pull_request]

jobs:
  check:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install dependencies
        run: pnpm install

      - name: Check type
        run: pnpm checktype

      - name: Run tests
        run: pnpm test

      - name: Run build
        run: pnpm build

      - name: Run vite example build
        run: pnpm --filter=vite-example build

      - name: Run next example build
        run: pnpm --filter=next-example build

      - uses: oven-sh/setup-bun@v1
      - name: Run bun example
        run: cd bun-example && bun install && bun index.ts && bun build index.ts > /tmp/tmp.js

      - uses: denoland/setup-deno@v1
      - name: Run deno example
        run: deno run --allow-net deno-example/index.ts && deno run --allow-net deno-example/npm-index.ts

      - name: Run deno example check
        run: deno check deno-example/*.ts
